    
  <footer>
      <div class="row">
        <div class="col-md-4 text-left">
          Humberto Godinez ({{ site.time | date: '%Y' }}) 
        </div>
        <div class="col-md-4 text-center">
          <a
            href ="https://twitter.com/humbertogodinez"
            title="Twitter">
              <span class="thunder fa fa-twitter"></span>
          </a>
          <a
            href ="https://www.linkedin.com/in/hgodinez/"
            title="Linkedin">
              <span class="thunder fa fa-linkedin"></span>
          </a>
          <a
            href ="https://www.scopus.com/authid/detail.uri?authorId=56659422500"
            title="Scopus">
              <span class="thunder fa fa-bookmark"></span>
          </a>
        </div>
         <div class="col-md-4 text-right">
          <a href ="https://github.com/hgodinez/hgodinez.github.io">
            Made in <span class="fa fa-github"> thanks to jbkunst</span>
          </a>
        </div>
      </div>
  </footer>
