
  <footer>
      <div class="row">
        <div class="col-md-4 text-left">
          Street Punk Pills ({{ site.time | date: '%Y' }}) 
        </div>
        <div class="col-md-4 text-center">
          <a
            href ="https://twitter.com/streetpunkpills"
            title="Twitter">
              <span class="thunder fa fa-twitter"></span>
          </a>
          <a
            href ="https://www.instagram.com/streetpunkpills"
            title="Linkedin">
              <span class="thunder fa fa-instagram"></span>
          </a>
          <a
            href ="https://opensea.io/collection/streetpunkpills"
            title="OpenSea">
              <span class="thunder fa fa-bookmark"></span>
          </a>
        </div>
         <div class="col-md-4 text-right">
          <a href ="https://github.com/streetpunkpills/streetpunkpills.github.io">
            Made in <span class="fa fa-github"> 
          </a>
        </div>
      </div>
  </footer>
